<!-- BEGIN DC_IMPORTS_DATE -->

<!-- END DC_IMPORTS_DATE -->


# {CLASSDESC}
# {CLASSNAME}
# <!-- BEGIN FIELDS -->
# {FIELDDESC}
# {FIELDTYPE} {FIELDNAME}
# <!-- END FIELDS -->

# <!-- BEGIN DOCS -->
# {FIELDNAME} {FIELDDESC}<!-- END DOCS -->
# {CLASSNAME} <!-- BEGIN CPARAMS --> {FIELDTYPE} {FIELDNAME}{COMMA}<!-- END CPARAMS -->
# <!-- BEGIN ASSIGNMENTS -->
# {FIELDNAME} {FIELDNAME}<!-- END ASSIGNMENTS -->
# <!-- BEGIN GETTERS -->
   
   
# {FIELDNAME}
# {FIELDTYPE}
# {FIELDTYPE} {UFIELDNAME}
# {FIELDNAME}
# <!-- END GETTERS -->
