/*
 * Copyright (C) 2015-2020 Dipl.-Inform. Kai Hofmann. All rights reserved!
 */
package de.powerstat.fb.generated.tr64;
<!-- BEGIN DC_IMPORTS_DATE -->


import java.util.Date;
<!-- END DC_IMPORTS_DATE -->


/**
 * {CLASSDESC}.
 */
public class {CLASSNAME}
 {<!-- BEGIN FIELDS -->
  /**
   * {FIELDDESC}.
   */
  private final {FIELDTYPE} {FIELDNAME};
<!-- END FIELDS -->

  /**
   * Constructor.
   *<!-- BEGIN DOCS -->
   * @param {FIELDNAME} {FIELDDESC}<!-- END DOCS -->
   */
  public {CLASSNAME}(<!-- BEGIN CPARAMS -->final {FIELDTYPE} {FIELDNAME}{COMMA}<!-- END CPARAMS -->)
   {<!-- BEGIN ASSIGNMENTS -->
    this.{FIELDNAME} = {FIELDNAME};<!-- END ASSIGNMENTS -->
   }
  <!-- BEGIN GETTERS -->
   
   
  /**
   * Get {FIELDNAME}.
   *
   * @return {FIELDTYPE}
   */
  public {FIELDTYPE} get{UFIELDNAME}()
   {
    return this.{FIELDNAME};
   }
  <!-- END GETTERS -->

 }
