

# {METHODDESC}.
# <!-- BEGIN JPARAMDESCS -->
# {JPARAMNAME} {JPARAMDESC}<!-- END JPARAMDESCS --><!-- BEGIN RETURNDESCS -->
# {RETURNDESC}<!-- END RETURNDESCS -->
# {METHODTYPE} {JMETHODNAME} <!-- BEGIN JPARAMS --> {PARAMTYPE} {JPARAMNAME}{COMMA}<!-- END JPARAMS -->
# <!-- BEGIN PARAMS -->
# {PARAMNAME} {JPARAMNAMEVAL} <!-- END PARAMS -->
#<!-- BEGIN RESULT --> <!-- END RESULT --> CONTROL_URL, SERVICE_TYPE, {METHODNAME} <!-- BEGIN RETURN -->
# {RETCONVB}<!-- BEGIN RETFIELDS -->{RETPARCONVB} {RETURNPARAMNAME} {RETPARCONVE}{RTCOMMA}<!-- END RETFIELDS -->{RETCONVE} <!-- BEGIN RETNLS --> {RETNLSNR} <!-- END RETNLS --><!-- END RETURN -->
