<!-- BEGIN IMPORTS_DATE -->
<!-- END IMPORTS_DATE -->

# {CLASSDESC}
# {CLASSNAME}

# {SERVICETYPE}
# {SERVICEID}
# {CONTROLURL}
# {EVENTSUBURL}
# {SCPDURL}

<!-- BEGIN METHODS -->
{METHOD}
<!-- END METHODS -->
